body {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.btn-custom {
  background-color: #ffcb05;
  color: #2a75bb;
  border: none;
  margin: 5px;
}

.btn-custom:hover {
  background-color: #2a75bb;
  color: white;
}