body {
    background-color: #c0b4b4;
    
}

.pelicula-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: auto;
    height: 200px;
}


.pelicula-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.img-carousel {
    height: 70vh;
    object-fit: cover;
    object-position: center top;
}